@import url(./common.css);

/* ============================모바일 헤더================================= */
header{
    background-image: url(../img/main/mobile-nav-bg.jpg);
    background-size: cover;
    width: auto;
    height: 60px;
}

.link{display: none;}
.sns{display: none;}

.mobile-header{
    background-image: url(../img/main/mobile-nav-bg.jpg);
    background-size: cover;
    height: 60px; width: 100%;
    display: flex;
    position: fixed;
    z-index: 5;
    justify-content: space-between;
}
.mobile-header > a{
    padding-left: 8px;
}
.mobile-header > a > img{
    width: 150px; height: auto;
    position: relative;
    top: 2px;
}
#buger{
    width: 55px; height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 2px;
}
#buger > span{
    display: block;
    width: 30px; height: 2px;
    background-color: #b69451;
    border-radius: 1px;
}
#buger > span:nth-of-type(2){
    margin: 4px 0;
}

/*============================================모바일메뉴==============================================*/


.mobile-menu.active{
    display: block;
    animation: m-menu .5s forwards;
}
.mobile-menu.off{
    animation: m-menu2 .5s forwards;
}

@keyframes m-menu{
    0%{transform: scale(1.2); opacity: 0;}
    100%{transform: scale(1); opacity: 1;}
}
@keyframes m-menu2{
    0%{transform: scale(1); opacity: 1; }
    100%{transform: scale(1.2); opacity: 0;}
}

.mobile-menu{
    position: fixed;
    left: 0; top: 0;
    z-index: 9;
    background-image: url(../img/main/mobile-menu-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; height: 100%;
    padding: 6rem 0;
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    display: none;
    
    border-image-source: url(https://cdn-hogwartslegacy.warnerbrosgames.com/static/square-border-frame.png);
    border-image-repeat: stretch stretch;
    border-image-slice: 44;
    border-image-width: 20px;
    border-style: solid;
    padding: 1rem;
}

.mobile-menu > button{
    background-color: transparent;
    position: absolute;
    border: 0;
    filter: invert(57%) sepia(52%) saturate(396%) hue-rotate(2deg) brightness(110%) contrast(87%);
    right: 1.5rem;
    top: 1.7rem;
    cursor: pointer;
}
.mobile-menu > button:hover > svg{
    transform: scale(.8);
    transition: .3s;
}

.mobile-menu > a {
    width: auto; height: auto;
    margin-top: 6.7rem;
    margin-bottom: 4rem;
    margin-right: 50px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.mobile-menu > a > img{
    width: 260px;
}
.mm-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 1.75rem;
    width: 100%;
}
.mm-menu > li{
    font-size: 1.4rem;
    line-height: 1.1;
    margin: 0 0 1rem;
    padding-right: 50px;
    position: relative;
    text-align: right;
}
.mm-menu > li:nth-of-type(5) > a{
    color: #b69451;
}
.mm-menu > li:nth-of-type(7){
    background-image: url(../img/main/gold-button-bg.jpg);
    background-size: cover;
    border-radius: 90px;
    height: 50px;
    display: inline-block;
    padding: 0.7rem 2rem 0.75rem;
    margin-top: 12px;
    right: 50px;
    color: white;
}
.mm-menu > p{
    font-family: serif;
    font-weight: 400;
    line-height: 1.1;
    font-size: .8rem;
    margin-top: -10px;
    width: 100%;
    text-align: right;
    margin-right: 50px;
    margin-bottom: 20px;
}
.mm-bottom{
    height: 100%;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.mobile-sns{
    display: flex;
    width: 200px; height: auto;
    justify-content: space-between;
    margin-bottom: 40px;
}
.mobile-sns > a > svg{
    width: 30px; height: 30px;
}
.mm-global{
    width: 122px;
    display: flex;
    font-size: 1.25rem;
    justify-content: space-around;
}
.mm-global > a > svg{
    width: 20px; height: auto;
    filter: invert(89%) sepia(88%) saturate(659%) hue-rotate(138deg) brightness(305%) contrast(102%);
}

/* =============================헤더============================ */

main{
    position: relative;
    background-image: url(../img/media/bg.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%; height: auto;
    background-color: #171e1d;
    padding: 0;
}
main svg{
    width: 2vw;
    fill: #ffd075;
}
.navi::before{
    content: "";
    background: linear-gradient(0deg,transparent,#000);
    height: 10vw; 
    position: absolute;
    width: 100%;
    top: 0; left: 0;
    z-index: -2;
}
.navi{
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    width: 100%; height: 4vw;
    justify-content: space-between;
    font-size: 1vw;
    z-index: 2;
    background: linear-gradient(0deg,transparent,#000);
}
.navi > a{display: none;}
.nav-left{display: none;}
.nav-right{display: none;}

.main-bar{display: none;}
.corner-main{
    position: absolute;
    top: 2px; left: 0;
    z-index: 3;
    display: flex;
    width: 100%; height: auto;
    justify-content: space-between;
}
.corner-main > img{
    width: 22vw;
}

/* =============================헤더============================ */

main{
    position: relative;
    background-image: url(../img/media/bg.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%; height: auto;
    background-color: #171e1d;
}
main svg{
    width: 2vw;
    fill: #ffd075;
}
.navi::before{
    content: "";
    background: linear-gradient(0deg,transparent,#000);
    height: 20vw;
    position: absolute;
    width: 100vw;
    top: 0; left: -30px;
    z-index: -2;
}
.navi{
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    width: 100%; height: 4vw;
    justify-content: space-between;
    font-size: 1vw;
    z-index: 2;
    background: linear-gradient(0deg,transparent,#000);
}
.navi > a{display: none;}
.nav-left{display: none;}
.nav-right{display: none;}

.main-bar{
    position: absolute;
    top: 0;
    z-index: 3;
    display: flex;
    width: 100%; height: auto;
    justify-content: space-between;
}
.main-bar > img{
    width: 50vw; height: 100%;
}
.corner-main{
    position: absolute;
    top: 2px;
    z-index: 3;
    display: flex;
    width: 100%; height: auto;
    justify-content: space-between;
}
.corner-main > img{
    width: 22vw;
}
/* =============================네비메뉴====================================== */

.media-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}
.media-title > img:nth-of-type(1){
    margin-bottom: 1rem;
    height: 50px; width: auto;
}
.media-title > img:nth-of-type(2){
    margin-top: 1rem;
    height: 35px; width: auto;
}

.video{
    position: relative;
    margin: 3rem auto;
    display: flex;
    width: 100%; height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 30px;
}
.video-1{
    margin-bottom: 0.5rem;
    padding: 0.4%;
    width: 50%; height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: stretch;
}
.video-1 > a{
    width: 90%; height: 21vw;
    position: absolute;
    top: 2vw; left: 5%;
    cursor: pointer;
}
.video-1 > a > img{
    border-radius: 2px;
    left: 0; top: 0;
    width: 100%; height: 100%;
    position: relative;
    transition: all .2s ease;
    box-shadow: 0 0 12px 1px rgb(182 148 81 / 50%);
}
.video-1 > a > svg{
    position: absolute;
    left: 42%; top: 33%;
    width: 50px; height: 50px;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    transition: all .1s;
    color: #b69451;
    filter: invert(55%) sepia(47%) saturate(433%) hue-rotate(2deg) brightness(100%) contrast(87%) drop-shadow(0 0 2px black) ;
}
.video-1:hover > a > img{
    box-shadow: 0 0 40px 9px rgba(255, 196, 79, 0.411);
}
.video-1:hover > a > svg{
    transform: scale(1.2,1.2) translate(-48%,-48%);
    filter: drop-shadow(0 0 2px black);
}
.video-1 > figcaption{
    font-size: .875rem;
    margin-bottom: .5rem;
    margin-top: .3rem;
    text-align: center;
}

.videoCut.active{
    display: flex;
    justify-content: center;
    animation: i-video .5s forwards;
}
.videoCut.off{
    animation: i-video2 .5s forwards;
}
@keyframes i-video{
    0%{transform: scale(1.2); opacity: 0;}
    100%{transform: scale(1); opacity: 1;}
}
@keyframes i-video2{
    0%{transform: scale(1); opacity: 1; }
    100%{transform: scale(1.2); opacity: 0;}
}
.videoCut{
    position: fixed;
    width: 100%; height: 100%;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,.8);
    z-index: 10;
    display: none;
}
.videoCut div{
    width: 90vw; height: 60vw;
    position: relative;
}
.videoCut iframe{
    width: 90vw; height: 60vw;
    padding: 3rem;
    background-color: #000;
    z-index: 10;
    box-shadow: 0 0 40px 9px rgba(248, 167, 6, 0.411);
    border-radius: 1%;
}
.videoCut button{
    position: absolute;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    right: 1%;
    top: 2%;
    z-index: 11;
    filter: invert(57%) sepia(52%) saturate(396%) hue-rotate(2deg) brightness(110%) contrast(87%);
}
.videoCut button:hover > svg{
    transform: scale(.8);
    transition: .3s;
}


.photo{
    position: relative;
    margin: 3rem auto 0;
    display: flex;
    width: 100%; height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(180deg,transparent,#000);
    padding: 0 30px;
}
.photo-1{
    margin-bottom: 1.5rem;
    padding: 0 0.4% 1.7%;
    width: 50%; height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
}
.photo-1 > a{
    width: 90%; height: 81%;
    position: absolute;
    top: 7%; left: 5%;
    cursor: pointer;
}
.photo-1 > a > img{
    border-radius: 2px;
    left: 0; top: 0;
    width: 100%; height: 100%;
    position: absolute;
    transition: all .2s ease;
    box-shadow: 0 0 12px 1px rgb(182 148 81 / 50%);
}
.photo-1 > a > svg{
    position: absolute;
    width: 32px; height: 32px;
    filter: drop-shadow(0 0 2px black);
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    transition: transform .25s ease,color 1s;
}
.photo-1:hover > a > img{
    box-shadow: 0 0 40px 9px rgba(255, 196, 79, 0.411);
}
.photo-1:hover > a > svg{
    transform: scale(1.2,1.2) translate(-48%,-48%);
    filter: drop-shadow(0 0 2px black);
}


.photoCut.active{
    display: flex;
    justify-content: center;
    animation: i-photo .5s forwards;
}
.photoCut.off{
    animation: i-photo2 .5s forwards;
}
@keyframes i-photo{
    0%{transform: scale(1.2); opacity: 0;}
    100%{transform: scale(1); opacity: 1;}
}
@keyframes i-photo2{
    0%{transform: scale(1); opacity: 1; }
    100%{transform: scale(1.2); opacity: 0;}
}
.photoCut{
    position: fixed;
    width: 100%; height: 100%;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,.8);
    z-index: 10;
    display: none;
}
.photoCut figure{
    width: 90vw; height: 60vw;
    position: relative;
}
.photoCut img{
    width: 90vw; height: 60vw;
    padding: 3rem;
    background-color: #000;
    z-index: 10;
    box-shadow: 0 0 40px 9px rgba(248, 167, 6, 0.411);
    border-radius: 1%;
}
.photoCut button{
    position: absolute;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    right: 1%;
    top: 2%;
    z-index: 11;
    filter: invert(57%) sepia(52%) saturate(396%) hue-rotate(2deg) brightness(110%) contrast(87%);
}
.photoCut button:hover > svg{
    transform: scale(.8);
    transition: .3s;
}


/* =============================미디어====================================== */

footer{
    background: #000;
    display: flex;
    padding-top: 200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
footer > a{
    border: 1px solid gray;
    border-radius: 30px;
    width: 95px; height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 0 70px;
    text-align: center;
    font-size: 11px;
    padding: 5px;
}
footer > a > svg{
    height: 50%; width: 50%;
}
.game-logo-1{
    width: auto; height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    max-width: 100vw;
}
.game-logo-1 > svg:nth-of-type(1){
    height: 75px; width: 54px;
    margin: 0 28px 30px;
}
.game-logo-1 > img{
    height: 26px; width: auto;
    margin: 0 28px 30px;
}
.game-logo-1 > svg:nth-of-type(2){
    height: 60px; width: 80px;
    margin: 0 28px 30px;
}
.game-logo-1 > svg:nth-of-type(3){
    height: 29px; width: 84px;
    margin: 0 28px 30px;
}
.game-logo-2{
    width: 1110; height: 87;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    flex-direction: row;
    transform: scale3d(.7,.7,1);
}
@media(min-width: 1200px){footer > div:nth-of-type(2){width: 930; height: 160;}}

.game-logo-2 > svg:nth-of-type(1){
    height: 23px; width: 110px;
    margin: 0 28px 30px;
}
.game-logo-2 > svg:nth-of-type(2){
    height: 23px; width: 110px;
    margin: 0 28px 30px;
}
.game-logo-2 > svg:nth-of-type(3){
    height: 27px; width: auto;
    margin: 0 28px 30px;
}
.game-logo-2 > svg:nth-of-type(4){
    height: 27px; width: auto;
    margin: 0 28px 30px;
}
.game-logo-2 > svg:nth-of-type(5){
    height: auto; width: 56px;
    margin: 0 28px 30px;
}
.game-logo-2 > svg:nth-of-type(6){
    height: 43px; width: 28px;
    margin: 0 28px 30px;
}
.legal-rating{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.legal{
    width: 380px;
    margin: 10px 10px 20px 0;
}
.legal-2{
    display: flex;
    align-items: center;

}
.legal-2> svg{
    width: 30px; height: auto;
    margin: 0 10px;
}
.legal p{
    font-size: .5625rem;
    color: gray;
}
.legal >p{
    padding-left: 11px;
    margin-bottom: 1rem;
}
.rating > svg{
    height: auto;
    width: 74px;
}

.clause{
    height: 20px; width: 370px;
    font-size: .625rem;
    font-weight: 400;
    line-height: 1.4;
    display: flex;
    color: gray;
    opacity: .7;
    justify-content: space-evenly;
}

.corner-bottom{
    position: absolute;
    display: flex;
    width: 100%; height: auto;
    justify-content: space-between;
    bottom: 0;
}
.corner-bottom > img{
    width: 10vw;
}


/* ======================================768====================================== */
/* ======================================768====================================== */

@media(min-width:768px){
/* ============================모바일 헤더================================= */
header{
    background-image: url(../img/main/mobile-nav-bg.jpg);
    background-size: cover;
    width: auto;
    height: 60px;
}

.link{display: none;}
.sns{display: none;}

.mobile-header{
    background-image: url(../img/main/mobile-nav-bg.jpg);
    background-size: cover;
    height: 60px; width: 100%;
    display: flex;
    position: fixed;
    z-index: 5;
    justify-content: space-between;
}
.mobile-header > a{
    padding-left: 8px;
}
.mobile-header > a > img{
    width: 150px; height: auto;
    position: relative;
    top: 2px;
}
#buger{
    width: 55px; height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 2px;
}
#buger > span{
    display: block;
    width: 30px; height: 2px;
    background-color: #b69451;
    border-radius: 1px;
}
#buger > span:nth-of-type(2){
    margin: 4px 0;
}

/*============================================모바일메뉴==============================================*/


.mobile-menu.active{
    display: block;
    animation: m-menu .5s forwards;
}
.mobile-menu.off{
    animation: m-menu2 .5s forwards;
}

@keyframes m-menu{
    0%{transform: scale(1.2); opacity: 0;}
    100%{transform: scale(1); opacity: 1;}
}
@keyframes m-menu2{
    0%{transform: scale(1); opacity: 1; }
    100%{transform: scale(1.2); opacity: 0;}
}

.mobile-menu{
    position: fixed;
    left: 0; top: 0;
    z-index: 9;
    background-image: url(../img/main/mobile-menu-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; height: 100%;
    padding: 6rem 0;
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    display: none;
    
    border-image-source: url(https://cdn-hogwartslegacy.warnerbrosgames.com/static/square-border-frame.png);
    border-image-repeat: stretch stretch;
    border-image-slice: 44;
    border-image-width: 20px;
    border-style: solid;
    padding: 1rem;
}

.mobile-menu > button{
    background-color: transparent;
    position: absolute;
    border: 0;
    filter: invert(57%) sepia(52%) saturate(396%) hue-rotate(2deg) brightness(110%) contrast(87%);
    right: 1.5rem;
    top: 1.7rem;
    cursor: pointer;
}
.mobile-menu > button:hover > svg{
    transform: scale(.8);
    transition: .3s;
}

.mobile-menu > a {
    width: auto; height: auto;
    margin-top: 6.7rem;
    margin-bottom: 4rem;
    margin-right: 50px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.mobile-menu > a > img{
    width: 260px;
}
.mm-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 1.75rem;
    width: 100%;
}
.mm-menu > li{
    font-size: 1.4rem;
    line-height: 1.1;
    margin: 0 0 1rem;
    padding-right: 50px;
    position: relative;
    text-align: right;
}
.mm-menu > li:nth-of-type(5) > a{
    color: #b69451;
}
.mm-menu > li:nth-of-type(7){
    background-image: url(../img/main/gold-button-bg.jpg);
    background-size: cover;
    border-radius: 90px;
    height: 50px;
    display: inline-block;
    padding: 0.7rem 2rem 0.75rem;
    margin-top: 12px;
    right: 50px;
    color: white;
}
.mm-menu > p{
    font-family: serif;
    font-weight: 400;
    line-height: 1.1;
    font-size: .8rem;
    margin-top: -10px;
    width: 100%;
    text-align: right;
    margin-right: 50px;
    margin-bottom: 20px;
}
.mm-bottom{
    height: 100%;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.mobile-sns{
    display: flex;
    width: 200px; height: auto;
    justify-content: space-between;
    margin-bottom: 40px;
}
.mobile-sns > a > svg{
    width: 30px; height: 30px;
}
.mm-global{
    width: 122px;
    display: flex;
    font-size: 1.25rem;
    justify-content: space-around;
}
.mm-global > a > svg{
    width: 20px; height: auto;
    filter: invert(89%) sepia(88%) saturate(659%) hue-rotate(138deg) brightness(305%) contrast(102%);
}

/* =============================헤더============================ */

main{
    position: relative;
    background-image: url(../img/media/bg.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%; height: auto;
    background-color: #171e1d;
    padding: 0;
}
main svg{
    width: 2vw;
    fill: #ffd075;
}
.navi::before{
    content: "";
    background: linear-gradient(0deg,transparent,#000);
    height: 10vw; 
    position: absolute;
    width: 100%;
    top: 0; left: 0;
    z-index: -2;
}
.navi{
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    width: 100%; height: 4vw;
    justify-content: space-between;
    font-size: 1vw;
    z-index: 2;
    background: linear-gradient(0deg,transparent,#000);
}
.navi > a{display: none;}
.nav-left{display: none;}
.nav-right{display: none;}

.main-bar{display: none;}
.corner-main{
    position: absolute;
    top: 2px; left: 0;
    z-index: 3;
    display: flex;
    width: 100%; height: auto;
    justify-content: space-between;
}
.corner-main > img{
    width: 22vw;
}

/* =============================네비메뉴====================================== */

.media-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.media-title > img:nth-of-type(1){
    margin-bottom: 1rem;
    height: 50px; width: auto;
}
.media-title > img:nth-of-type(2){
    margin-top: 1rem;
    height: 35px; width: auto;
}

.video{
    position: relative;
    margin: 3rem auto;
    display: flex;
    width: 100%; height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.video-1{
    margin-bottom: 0.5rem;
    padding: 0.4%;
    width: 33%; height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
}
.video-1 > a{
    width: 90%; height: 68%;
    position: absolute;
    top: 7%; left: 5%;
    cursor: pointer;
}

.video-1 > a > img{
    border-radius: 2px;
    left: 0; top: 0;
    width: 100%; height: 100%;
    position: absolute;
    transition: all .2s ease;
    box-shadow: 0 0 12px 1px rgb(182 148 81 / 50%);
}
.video-1 > a > svg{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    width: 80px; height: 80px;
    transition: all .1s;
    color: #b69451;
    filter: invert(55%) sepia(47%) saturate(433%) hue-rotate(2deg) brightness(100%) contrast(87%) drop-shadow(0 0 2px black) ;
}
.video-1:hover > a > img{
    box-shadow: 0 0 40px 9px rgba(255, 196, 79, 0.411);
}
.video-1:hover > a > svg{
    transform: scale(1.2,1.2) translate(-43%,-43%);;
    filter: drop-shadow(0 0 2px black);
}
.video-1 > figcaption{
    font-size: .875rem;
    margin-bottom: -1rem;
    margin-top: 1rem;
    text-align: center;
}

.videoCut.active{
    display: flex;
    justify-content: center;
    animation: i-video .5s forwards;
}
.videoCut.off{
    animation: i-video2 .5s forwards;
}
@keyframes i-video{
    0%{transform: scale(1.2); opacity: 0;}
    100%{transform: scale(1); opacity: 1;}
}
@keyframes i-video2{
    0%{transform: scale(1); opacity: 1; }
    100%{transform: scale(1.2); opacity: 0;}
}
.videoCut{
    position: fixed;
    width: 100%; height: 100%;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,.8);
    z-index: 10;
    display: none;
}
.videoCut div{
    width: 90vw; height: 60vw;
    position: relative;
}
.videoCut iframe{
    width: 90vw; height: 60vw;
    padding: 3rem;
    background-color: #000;
    z-index: 10;
    box-shadow: 0 0 40px 9px rgba(248, 167, 6, 0.411);
    border-radius: 1%;
}
.videoCut button{
    position: absolute;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    right: 1%;
    top: 2%;
    z-index: 11;
    filter: invert(57%) sepia(52%) saturate(396%) hue-rotate(2deg) brightness(110%) contrast(87%);
}
.videoCut button:hover > svg{
    transform: scale(.8);
    transition: .3s;
}


.photo{
    position: relative;
    margin: 3rem auto 0;
    display: flex;
    width: 100%; height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(180deg,transparent,#000);
    padding: 0 30px;
}
.photo-1{
    margin-bottom: 1.5rem;
    padding: 0 0.4% 1.7%;
    width: 50%; height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
}
.photo-1 > a{
    width: 90%; height: 81%;
    position: absolute;
    top: 7%; left: 5%;
    cursor: pointer;
}
.photo-1 > a > img{
    border-radius: 2px;
    left: 0; top: 0;
    width: 100%; height: 100%;
    position: absolute;
    transition: all .2s ease;
    box-shadow: 0 0 12px 1px rgb(182 148 81 / 50%);
}
.photo-1 > a > svg{
    position: absolute;
    width: 32px; height: 32px;
    filter: drop-shadow(0 0 2px black);
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    transition: transform .25s ease,color 1s;
}
.photo-1:hover > a > img{
    box-shadow: 0 0 40px 9px rgba(255, 196, 79, 0.411);
}
.photo-1:hover > a > svg{
    transform: scale(1.2,1.2) translate(-48%,-48%);
    filter: drop-shadow(0 0 2px black);
}


.photoCut.active{
    display: flex;
    justify-content: center;
    animation: i-photo .5s forwards;
}
.photoCut.off{
    animation: i-photo2 .5s forwards;
}
@keyframes i-photo{
    0%{transform: scale(1.2); opacity: 0;}
    100%{transform: scale(1); opacity: 1;}
}
@keyframes i-photo2{
    0%{transform: scale(1); opacity: 1; }
    100%{transform: scale(1.2); opacity: 0;}
}
.photoCut{
    position: fixed;
    width: 100%; height: 100%;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,.8);
    z-index: 10;
    display: none;
}
.photoCut figure{
    width: 90vw; height: 60vw;
    position: relative;
}
.photoCut img{
    width: 90vw; height: 60vw;
    padding: 3rem;
    background-color: #000;
    z-index: 10;
    box-shadow: 0 0 40px 9px rgba(248, 167, 6, 0.411);
    border-radius: 1%;
}
.photoCut button{
    position: absolute;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    right: 1%;
    top: 2%;
    z-index: 11;
    filter: invert(57%) sepia(52%) saturate(396%) hue-rotate(2deg) brightness(110%) contrast(87%);
}
.photoCut button:hover > svg{
    transform: scale(.8);
    transition: .3s;
}


/* =============================미디어====================================== */

footer{
    background: #000;
    display: flex;
    padding-top: 200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
footer > a{
    border: 1px solid gray;
    border-radius: 30px;
    width: 95px; height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 0 70px;
    text-align: center;
    font-size: 11px;
    padding: 5px;
}
footer > a > svg{
    height: 50%; width: 50%;
}
.game-logo-1{
    width: auto; height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    max-width: 100vw;
}
.game-logo-1 > svg:nth-of-type(1){
    height: 75px; width: 54px;
    margin: 0 28px 30px;
}
.game-logo-1 > img{
    height: 26px; width: auto;
    margin: 0 28px 30px;
}
.game-logo-1 > svg:nth-of-type(2){
    height: 60px; width: 80px;
    margin: 0 28px 30px;
}
.game-logo-1 > svg:nth-of-type(3){
    height: 29px; width: 84px;
    margin: 0 28px 30px;
}
.game-logo-2{
    width: 1110; height: 87;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    flex-direction: row;
    transform: scale3d(.7,.7,1);
}
@media(min-width: 1200px){footer > div:nth-of-type(2){width: 930; height: 160;}}

.game-logo-2 > svg:nth-of-type(1){
    height: 23px; width: 110px;
    margin: 0 28px 30px;
}
.game-logo-2 > svg:nth-of-type(2){
    height: 23px; width: 110px;
    margin: 0 28px 30px;
}
.game-logo-2 > svg:nth-of-type(3){
    height: 27px; width: auto;
    margin: 0 28px 30px;
}
.game-logo-2 > svg:nth-of-type(4){
    height: 27px; width: auto;
    margin: 0 28px 30px;
}
.game-logo-2 > svg:nth-of-type(5){
    height: auto; width: 56px;
    margin: 0 28px 30px;
}
.game-logo-2 > svg:nth-of-type(6){
    height: 43px; width: 28px;
    margin: 0 28px 30px;
}
.legal-rating{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.legal{
    width: 380px;
    margin: 10px 10px 20px 0;
}
.legal-2{
    display: flex;
    align-items: center;

}
.legal-2> svg{
    width: 30px; height: auto;
    margin: 0 10px;
}
.legal p{
    font-size: .5625rem;
    color: gray;
}
.legal >p{
    padding-left: 11px;
    margin-bottom: 1rem;
}
.rating > svg{
    height: auto;
    width: 74px;
}

.clause{
    height: 20px; width: 370px;
    font-size: .625rem;
    font-weight: 400;
    line-height: 1.4;
    display: flex;
    color: gray;
    opacity: .7;
    justify-content: space-evenly;
}

.corner-bottom{
    position: absolute;
    display: flex;
    width: 100%; height: auto;
    justify-content: space-between;
    bottom: 0;
}
.corner-bottom > img{
    width: 10vw;
}
}


/* ======================================992====================================== */
/* ======================================992====================================== */

@media(min-width:992px){

header{
    width: auto;
    height: 40px;
    background-image: url(../img/main/header-bg.jpg);
    display: flex;
    justify-content: space-between;
}

.link{
    display: flex;
    align-items: center;
    width: 154px;
    padding-left: 5px;
    justify-content: space-between;
}
.link a:nth-of-type(1){
    padding: 0, 6px;
}
.link img{
    width: 20px;
    margin-left: 5px;
}
.link a:nth-of-type(2){
    width: 58px;
    height: 14px;
    display: flex;
    align-items: center;
    font-size: .6875rem;

}
.link a:nth-of-type(2) svg{
    width: 20px;
    padding-right: 5px;
}

.sns{
    display: flex;
    align-items: center;
    font-size: .6875rem;
    width: 550px;
    height: 36px;
    justify-content: space-between;
    text-align: center;
}
.sns img{
    width: 35px;
    padding: 4px 8px;
    filter: invert(74%) sepia(5%) saturate(836%) hue-rotate(358deg) brightness(93%) contrast(85%);
}
.sns img:hover{
    filter: invert(73%) sepia(83%) saturate(253%) hue-rotate(351deg) brightness(98%) contrast(101%);
}
.sns > p > a:nth-of-type(2) > img:hover{
    filter: invert(10%) sepia(99%) saturate(7460%) hue-rotate(3deg) brightness(94%) contrast(118%);
}
.sns > p > a:nth-of-type(3) > img:hover{
    filter: invert(31%) sepia(93%) saturate(1183%) hue-rotate(183deg) brightness(91%) contrast(90%);
}
.sns > p > a:nth-of-type(4) > img:hover{
    filter: invert(79%) sepia(61%) saturate(3499%) hue-rotate(177deg) brightness(112%) contrast(98%);
}
.mobile-header{
    display: none;
}
.mobile-menu{
    display: none;
}

/* =============================헤더============================ */

main{
    position: relative;
    background-image: url(../img/media/bg.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%; height: auto;
    background-color: #171e1d;
    padding: 0;
}
main svg{
    width: 2vw;
    fill: #ffd075;
}
.navi::before{
    content: "";
    background: linear-gradient(0deg,transparent,#000);
    height: 15vw;
    position: absolute;
    width: 100%;
    top: 0; left: 0;
    z-index: -2;
}
.navi{
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    width: 100%; height: 4vw;
    justify-content: space-between;
    font-size: 1vw;
    z-index: 2;
    background: linear-gradient(0deg,transparent,#000);
}
.navi > a{
    position: absolute;
    left: 41%; top: 5%;
    display: block;
}
.navi > a > img{
    width: 18vw; height: auto;
    

}
.navi span{
    display: inline-block;
}
.navi a:hover span{
    transform: scale(1.1,1.1);
    transition: .5s;
    color: #ffd075;
}

.nav-left{
    width: 35%; height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.nav-left svg{vertical-align: middle;}
.nav-left::before{
    background: url(../img/main/nav-bar-bg-left.png);
    background-size: cover;
    width: 100%; height: 100%;
    content: "";
    position: absolute;
    z-index: -1;
    opacity: .3;
}
.nav-left::after{
    width: 100%; height: 100%;
    content: "";
    position: absolute;
    z-index: -2;
    background:linear-gradient(90deg,rgba(23,47,73,.5),rgba(23,47,73,.5) 58%,rgba(23,47,73,0));
}

.nav-right{
    width: 37%; height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.nav-right > a:nth-of-type(2){
    text-shadow: 0 0 34px #ffd075, 0 0 14px #ffd075;
    display: flex;
    flex-direction: column;
}
.nav-right > a:nth-of-type(2) > div > span{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffd075;
    color: #ffd075;
    text-shadow: 0 0 34px #ffd075, 0 0 14px #ffd075;
}
#little{
    position: absolute;
    font-size: .7vw;
    left: 62%;
    bottom: 0.35vw;
    white-space: nowrap;
    width: 35%;
    overflow: hidden;
}
.nav-right svg{vertical-align: middle;}
.nav-right::before{
    background: url(../img/main/nav-bar-bg-right.png);
    background-size: cover;
    width: 100%; height: 100%;
    content: "";
    position: absolute;
    z-index: -1;
    opacity: .3;
}
.nav-right::after{
    width: 100%; height: 100%;
    content: "";
    position: absolute;
    z-index: -2;
    background:linear-gradient(90deg,rgba(23,47,73,.1),rgba(23,47,73,.1) 58%,rgba(23,47,73,0));
}
.main-bar{
    position: absolute;
    top: 94%; left: 0;
    z-index: 3;
    display: flex;
    width: 100%; height: auto;
    justify-content: space-between;
}
.main-bar > img{
    width: 30vw; height: 100%;
}
.corner-main{
    position: absolute;
    top: 99%; left: 0;
    z-index: 3;
    display: flex;
    width: 100%; height: auto;
    justify-content: space-between;
}
.corner-main > img{
    width: 10vw;
}
/* =============================네비메뉴====================================== */

.media-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
.media-title > img:nth-of-type(1){
    margin-bottom: 1rem;
    height: 50px; width: auto;
}
.media-title > img:nth-of-type(2){
    margin-top: 1rem;
    height: 35px; width: auto;
}


.video{
    position: relative;
    margin: 3rem auto;
    display: flex;
    width: 100%; height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1280px;
}
.video-1{
    margin-bottom: 0.5rem;
    padding: 1.25%;
    width: 33%; height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.video-1 > a{
    width: 86%; height: 71%;
    position: absolute;
    top: 11%; left: 7%;
    cursor: pointer;
}
.video-1 > a > img{
    border-radius: 2px;
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    transition: all .2s ease;
    box-shadow: 0 0 12px 1px rgb(182 148 81 / 50%);
}
.video-1 > a > svg{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    width: 80px; height: 80px;
    transition: all .1s;
    color: #b69451;
    filter: invert(55%) sepia(47%) saturate(433%) hue-rotate(2deg) brightness(100%) contrast(87%) drop-shadow(0 0 2px black) ;
}
.video-1:hover > a > img{
    box-shadow: 0 0 40px 9px rgba(255, 196, 79, 0.411);
}
.video-1:hover > a > svg{
    transform: scale(1.2,1.2) translate(-43%, -43%);

    filter: drop-shadow(0 0 2px black);
}
.video-1 > figcaption{
    font-size: .875rem;
    margin-bottom: -1rem;
    margin-top: 1rem;
    text-align: center;
    position: relative;
}


.videoCut.active{
    display: flex;
    justify-content: center;
    animation: i-video .5s forwards;
}
.videoCut.off{
    animation: i-video2 .5s forwards;
}
@keyframes i-video{
    0%{transform: scale(1.2); opacity: 0;}
    100%{transform: scale(1); opacity: 1;}
}
@keyframes i-video2{
    0%{transform: scale(1); opacity: 1; }
    100%{transform: scale(1.2); opacity: 0;}
}
.videoCut{
    position: fixed;
    width: 100%; height: 100%;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,.8);
    z-index: 10;
    display: none;
}
.videoCut div{
    width: 90vw; height: 60vw;
    position: relative;
}
.videoCut iframe{
    width: 90vw; height: 60vw;
    padding: 3rem;
    background-color: #000;
    z-index: 10;
    box-shadow: 0 0 40px 9px rgba(248, 167, 6, 0.411);
    border-radius: 1%;
}
.videoCut button{
    position: absolute;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    right: 1%;
    top: 2%;
    z-index: 11;
    filter: invert(57%) sepia(52%) saturate(396%) hue-rotate(2deg) brightness(110%) contrast(87%);
}
.videoCut button:hover > svg{
    transform: scale(.8);
    transition: .3s;
}




.photo{
    position: relative;
    margin: 3rem auto 0;
    display: flex;
    width: 100%; height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(180deg,transparent,#000);
    max-width: 1280px;
}
.photo-1{
    margin-bottom: 0.5rem;
    padding: 1.25%;
    width: 33%; height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    cursor: pointer;
}
.photo-1 > a{
    width: 84%; height: 76%;
    position: absolute;
    top: 12%; left: 8%;
    cursor: pointer;
}
.photo-1 > a > img{
    border-radius: 2px;
    left: 0; top: 0;
    width: 100%; height: 100%;
    position: absolute;
    transition: all .2s ease;
    box-shadow: 0 0 12px 1px rgb(182 148 81 / 50%);
}
.photo-1 > a > svg{
    position: absolute;
    width: 32px; height: 32px;
    filter: drop-shadow(0 0 2px black);
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    transition: transform .25s ease,color 1s;
}
.photo-1:hover > a > img{
    box-shadow: 0 0 40px 9px rgba(255, 196, 79, 0.411);
}
.photo-1:hover > a > svg{
    transform: scale(1.2,1.2) translate(-48%,-48%);
    filter: drop-shadow(0 0 2px black);
}


.photoCut.active{
    display: flex;
    justify-content: center;
    animation: i-photo .5s forwards;
}
.photoCut.off{
    animation: i-photo2 .5s forwards;
}
@keyframes i-photo{
    0%{transform: scale(1.2); opacity: 0;}
    100%{transform: scale(1); opacity: 1;}
}
@keyframes i-photo2{
    0%{transform: scale(1); opacity: 1; }
    100%{transform: scale(1.2); opacity: 0;}
}
.photoCut{
    position: fixed;
    width: 100%; height: 100%;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,.8);
    z-index: 10;
    display: none;
}
.photoCut figure{
    width: 90vw; height: 60vw;
    position: relative;
}
.photoCut img{
    width: 90vw; height: 60vw;
    padding: 3rem;
    background-color: #000;
    z-index: 10;
    box-shadow: 0 0 40px 9px rgba(248, 167, 6, 0.411);
    border-radius: 1%;
}
.photoCut button{
    position: absolute;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    right: 1%;
    top: 2%;
    z-index: 11;
    filter: invert(57%) sepia(52%) saturate(396%) hue-rotate(2deg) brightness(110%) contrast(87%);
}
.photoCut button:hover > svg{
    transform: scale(.8);
    transition: .3s;
}



/* =============================미디어====================================== */

footer{
    background: #000;
    display: flex;
    padding-top: 200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
footer > a{
    border: 1px solid gray;
    border-radius: 30px;
    width: 95px; height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 0 70px;
    text-align: center;
    font-size: 11px;
    padding: 5px;
}
footer > a > svg{
    height: 50%; width: 50%;
}
.game-logo-1{
    width: auto; height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.game-logo-1 > svg:nth-of-type(1){
    height: 75px; width: 54px;
    margin: 0 28px 30px;
}
.game-logo-1 > img{
    height: 26px; width: auto;
    margin: 0 28px 30px;
}
.game-logo-1 > svg:nth-of-type(2){
    height: 60px; width: 80px;
    margin: 0 28px 30px;
}
.game-logo-1 > svg:nth-of-type(3){
    height: 29px; width: 84px;
    margin: 0 28px 30px;
}
.game-logo-2{
    width: 1110; height: 87;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    flex-direction: row;
    transform: scale3d(.7,.7,1);
}
@media(min-width: 1200px){footer > div:nth-of-type(2){width: 930; height: 160;}}

.game-logo-2 > svg:nth-of-type(1){
    height: 23px; width: 110px;
    margin: 0 28px 30px;
}
.game-logo-2 > svg:nth-of-type(2){
    height: 23px; width: 110px;
    margin: 0 28px 30px;
}
.game-logo-2 > svg:nth-of-type(3){
    height: 27px; width: auto;
    margin: 0 28px 30px;
}
.game-logo-2 > svg:nth-of-type(4){
    height: 27px; width: auto;
    margin: 0 28px 30px;
}
.game-logo-2 > svg:nth-of-type(5){
    height: auto; width: 56px;
    margin: 0 28px 30px;
}
.game-logo-2 > svg:nth-of-type(6){
    height: 43px; width: 28px;
    margin: 0 28px 30px;
}
.legal-rating{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.legal{
    width: 400px;
    margin: 10px 10px 20px 0;
}
.legal-2{
    display: flex;
    align-items: center;

}
.legal-2> svg{
    width: 40px; height: auto;
    margin: 0 10px;
}
.legal p{
    font-size: .5625rem;
    color: gray;
}
.legal >p{
    padding-left: 11px;
    margin-bottom: 1rem;
}
.rating > svg{
    height: auto;
    width: 74px;
}

.clause{
    height: 20px; width: 370px;
    font-size: .625rem;
    font-weight: 400;
    line-height: 1.4;
    display: flex;
    color: gray;
    opacity: .7;
    justify-content: space-evenly;
}

.corner-bottom{
    position: absolute;
    display: flex;
    width: 100%; height: auto;
    justify-content: space-between;
    bottom: 0;
}
.corner-bottom > img{
    width: 10vw;
}
}